<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Add Stock</h1>
        </div>
      </div>
      <div class="row bg-light p-3">
        <div class="col-6">

        </div>
        <div class="col-6"></div>
      </div>
    </div>
  </body>
</html>


