<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="./">Stock</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item right">
          <a class="nav-link" href="#">Sign In</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container bg-light">
    <div class="row">
      <div class="col-10">
        <h1>Stock productivity calculator</h1>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-primary">+Add Stock</button>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <!--  Form-->
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="unitPrice">Unit Price</label>
            <input type="text" class="form-control" id="unitPrice" placeholder="Unit Price">
          </div>
          <div class="form-group">
            <label for="interest">Interest</label>
            <input type="text" class="form-control" id="interest" placeholder="Interest">
          </div>
          <div class="form-group">
            <label for="duration">Duration</label>
            <input type="text" class="form-control" id="duration" placeholder="Duration">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col-6"></div>
    </div>
  </div>
</div>
</body>
</html>



