<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Stock productivity calculator</h1>
        </div>
      </div>
      <div class="row bg-light p-5">
        <div class="col-12 text-center">
          <% if user_signed_in? %>
            <h5 class="mb-2 text-muted font-weight-light">Please add stock</h5>
            <a role="button" class="btn btn-primary" href="add">+ Add Stock</a>
            <%= render 'posts/post' %>
          <% else # user not signed it %>
            <h5 class="mb-2 text-muted font-weight-light">Login or register for stock operations</h5>
          <% end # if user is signed it %>
        </div>
      </div>
    </div>
  </body>
</html>


