<% @posts.each do |post| %>
  <h5 class="font-weight-light"><%= post.name %></h5>
  <h5 class="font-weight-light"><%= post.price %></h5>
  <h5 class="font-weight-light"><%= post.duration %></h5>
  <h5 class="font-weight-light"><%= post.interest %></h5>
<% end %>