<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-12 p-3 pr-0">
      <h1><%= @posts.name %></h1>
    </div>
  </div>
  <div class="row bg-light p-4">
      <div class="col"><h5>Unit price: <%= @posts.price %> $</h5></div>
      <div class="col"><h5>Duration: <%= @posts.duration %> years</h5></div>
      <div class="col"><h5>Interest: <%= @posts.interest %> %</h5></div>
  </div>
  <div class="row bg-secondary p-4 chart"></div>
</div>
</body>
</html>

<style>
  .chart {
    height: 500px;
  }
</style>
